{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.isbn.label(class="form-control-label") }}
                {% if form.isbn.errors %}
                    {{ form.isbn(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.isbn.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.isbn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.year.label(class="form-control-label") }}
                {% if form.year.errors %}
                    {{ form.year(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.year.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.year(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.author.label(class="form-control-label") }}
                {% if form.author.errors %}
                    {{ form.author(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.author.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.author(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.subject.label(class="form-control-label") }}
                {% if form.subject.errors %}
                    {{ form.subject(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.subject.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <br>
                    <select name="subject">
                        <option value="1" selected>Accounting & Finance</option>
                        <option value="2">Biology</option>
                        <option value="3">Business</option>
                        <option value="4">Chemistry</option>
                        <option value="5">Computer Science</option>
                        <option value="6">Dentistry</option>
                        <option value="7">Economics</option>
                        <option value="8">Engineering</option>
                        <option value="9">English Literature</option>
                        <option value="10">History</option>
                        <option value="11">Languages</option>
                        <option value="12">Law</option>
                        <option value="13">Marketing</option>
                        <option value="14">Maths</option>
                        <option value="15">Medicine</option>
                        <option value="16">Music</option>
                        <option value="17">Philosophy</option>
                        <option value="18">Physics</option>


                    </select>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.price.label(class="form-control-label") }}
                <br><small class="text-muted">
                    Please input price in the format: 0.00
                </small>
                {% if form.price.errors %}
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.price(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.book_image.label() }}
                {{ form.book_image(class="form-control-file") }}
                {% if form.book_image.errors %}
                    {% for error in form.book_image.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.comment.label(class="form-control-label") }}
                <br><small class="text-muted">
                    Please describe the condition of your item and any other comments you'd like.
                </small>
                {% if form.comment.errors %}
                    {{ form.comment(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.comment.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.comment(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}