{% extends "layout.html" %}
{% block content %}
    <h1><span class="green">Drop-It!</span></h1>

    <article class="media content-section">
    	<div class="media-body">
    		<h3>Our Drop-Off Location</h3>
        	<p class="article-content">
            	If you don't want to sell your text books online yourself, or you want to get rid of all your books quickly and easily, then you can pop down to our drop-off location and we'll buy your books from you on the spot. 
        	</p>

            <p>We are based at:<br>
                <b>Cardiff University Student's Union<br>
                    Park Place<br>
                    Cardiff<br>
                    CF10 3QN<br>
                </b>
            <br>
            <b>Opening Times</b><br>
            Mon-Fri:             11:00-19:00<br>
            Sat:                 09:00-17:00<br>
            Sun:                 Closed
            </p>
        	
    	</div>
    </article>
{% endblock content %}