{% extends "layout.html" %}
{% block content %}

    <div class="col-md-4 left">
        <div class="content-section">
            <h3>My Account</h3>
            <p class='text-muted'>Your account information.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="{{ url_for('account') }}">My Account</a></li>
                <li class="list-group-item list-group-item-light"><a href="{{ url_for('user_orders', user_id=current_user.id) }}">My Orders</a></li>
                <li class="list-group-item list-group-item-light"><a href="{{ url_for('user_sold', user_id=current_user.id) }}">Sold Items</a></li>
                <li class="list-group-item list-group-item-light"><a href="{{ url_for('cart_display') }}">Saved Items</a></li>
              </ul>
            </p>
        </div>
    </div>


    <h1>Items Sold</h1>


    {% for book in sold_book %}

    <h5>{{ book.title }}</h5>
    <p>
    	Date: {{ book.date_purchased.strftime('%Y-%m-%d') }} <br>
    	Price: £{{ book.price }} <br>
    	Sold to: user {{ book.buyer }} <br>
    </p>

    {% endfor %}

{% endblock content %}